<% @result.each_with_index do |item, i| %>
<div id="results-<%= i %>">
  <div class="url-value">
    <%= item[:url] %>
  </div>

  <div class="title-value">
    <%= item[:title] %>
  </div>
</div>
<% end %>